<%= link_to "New Ticket", new_project_path %><br>
<% admins_only do %>
  <%= link_to "New Project", new_project_path %>
<% end %>

<h2>Tickets via Ticketee</h2>
<ul>
  <% @projects.each do |project| %>
	<li><%= link_to project.name, project %></li>
  <% end %>
</ul>
